# Python  Django
venv
.venv
__pycache__
.pyc
db.sqlite3
media
conf.text
# Node  React (Frontend)
frontendnode_modules
frontenddist
.env
.env.local

# IDEs & System Files
.vscode
.idea
.DS_Store
Thumbs.db
